
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: nexa;
}
ul {
	list-style: none;
}
a {
	text-decoration: none ; 
	color: inherit;
	cursor: pointer;
}

header {
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #916666;
	padding: 0px 100px 0;
    background: #f3f3f3;
}
header a {
	text-transform: capitalize;
	font-weight: 900;
}
header h2 {
	text-transform: uppercase;
}
header .nav {
	display: flex;
  
}
header .nav li {
	margin: 0 15px;
}
header .nav li:first-child {
	margin-left: 0;
}
header .nav li:last-child {
	margin-right: 0;
}
@media (max-width: 1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header .nav li {
		margin: 0 7px;
	}
}
.logo{
    height: 100px;
}
/* contant  */
.hed-con{
   margin-top: 1%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Blog{
    font-size: 80px;
}
#blog-con{
    font-size: 20px;
    height: 50%;
    width: 50%;
}
/* card */

.cardmain{
    background: #fffdfd;
    margin-top: 5%;
	height: auto;
	padding-bottom: 10%;
 }
 
 
 .card-contaner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;


}
.card{
    margin-top: 80px;
    height: 100%;
    width: 40%;
    background: #f3f3f3;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.4s ease;
}
.card:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-con{
    padding: 20px;
    justify-content: center;

}

.card-con h1{
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.card-con p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
.card-btn{
    display: inline-block;
    background:  #666;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 80%;
}
/* small cards  */
.smal-car{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.1px;

}
.sml-card-con{
    padding: 10px;
    justify-content: center;

}
.sml-card-con h1{
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #666;

}
.sml-card-con p{
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}
.sml-card-btn{
    display: inline-block;
    background:  #666;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-left: 59px;
    margin-top: 30px;
}
.smal-card{
    margin-top: 80px;
    height: 40%;
    width: 20%;
    background: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.4s ease;

}
.smal-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.smal-card:hover{
  scale: 1.01;
    cursor: pointer;
}

/* footer */
.footer{
	/* background: #cfcfcf; */
	margin-top: 8%;
}
.logoo{
	width: 80px;
	margin-bottom: 30px;
}
footer{

	position: relative;
	bottom: 0;
	background: linear-gradient(to right , #00093c ,#2d0b00) ;
	color: #fff;
	padding: 100PX 0 38PX;
	border-top-left-radius: 125PX;
	font-size: 13PX;
	line-height: 20px; 
}
.row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.col{
	flex-basis: 25%;
	padding: 10px;
}
.col :nth-child(2), .col :nth-child(3){
	flex-basis: 15%;

}
.col h3{
	width: fit-content;
	margin-bottom: 40px;
	position: relative ;
}
.email-id{

	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin: 20px 0;
	cursor: pointer           ;
}
.col ul li{
	list-style: none;
	margin-bottom: 12px;


}
.col ul li a {
	text-decoration: none;
	color: #fff;
}
form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
	font-size: 18px;
	margin-right: 10px;
}
form input{

	background: transparent;
	color: #ccc;
	border: 0;
	outline: none;
}
form button{
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
	color: #fff;

}

.social-icons .fab{

	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #000;
	background: #fff;
	margin-right: 15px;
	cursor: pointer;
}
hr{
	width: 90%;
	border: 0;
	border-bottom: 1px solid #ccc;
	margin: 20px auto;
}
.copyright{
	text-align: center;
}
.underlie{
	width: 100%;
	height: 5px;
	background: #767676;
	border-radius: 3px;
	position: absolute;
	top: 25px;
	left: 0;
	overflow: hidden;

}
.underlie span{
 width: 15px;
 height: 100%;background: #fff;
 border-radius: 3px;
 position: absolute;
 top: 0;
 left: 10px;
 animation: moving 2s linear infinite;
}
@keyframes moving{
0%{
	left: -20px;
}
100%{
	left: 100%;
}
}
@media(max-width:700px){
	footer{
		bottom: unset;
	}
	.col{
		flex-basis: 100%;

	}
	.col :nth-child(2), .col :nth-child(3){
		flex-basis: 100%;
	
	}
	
}